# MATLAB
*.m~
*.mat.old
*.asv

# 训练检查点（体积大，可重新生成）
checkpoints_gan/
checkpoints_gan_*/

# 系统文件
.DS_Store
Thumbs.db
desktop.ini

# 提交给老师的说明文件（不上传 GitHub）
README.txt

# 课程论文（不上传 GitHub）
report.tex
report.pdf

# 数据集中间文件（如不需要上传）
# Burger_v2/
burger.pdf
